{% import "partials/language.html" as lang with context %}
<footer class="md-footer">
    <div class="bend-svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
             fill="currentColor">
            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
        </svg>
    </div>
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid upper">
            <div class="footer-item">
                <div class="footer-brand">
                    <img src="/assets/images/abi-small-white.png">
                </div>
                <p>
                    Alpha Blend Interactive<br>
                    Game Development Studio
                </p>
                <div class="icon-list-social">
                    <a href="https://patreon.com/AlphaBlendInteractive"><i class="fab fa-patreon"></i></a>
                    <a href="https://discord.gg/abi"><i class="fab fa-discord"></i></a>
                    <a href="https://store.steampowered.com/developer/abinteractive"><i class="fab fa-steam"></i></a>
                    <a href="https://twitter.com/AlphaBlendNET"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="footer-item">
                <p class="headline">For Users</p>
                <a href="https://get.cvr.gg/">Download Area</a><br>
                <a href="https://medium.com/chilloutvr">Developer Blog</a>
            </div>
            <div class="footer-item">
                <p class="headline">For Creators</p>
                <a href="https://cck.cvr.gg/">Content Creation Kit</a>
            </div>
            <div class="footer-item">
                <p class="headline">About & Legal</p>
                <a href="/Official/legal/privacy-policy/">Privacy Policy</a><br>
                <a href="/Official/legal/tos/">ToS & EULA</a>
            </div>
        </div>

        <hr>

        <div class="md-footer-meta__inner md-grid">
            <div class="md-footer-copyright">
                {{ config.copyright }}
            </div>
            <div class="legal-info">
                <a href="/Official/legal/privacy-policy/">Privacy Policy</a> ·
                <a href="/Official/legal/tos/">ToS & EULA</a>
            </div>
        </div>
    </div>
</footer>
